{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/manage_template_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("templates.view_template", id=template.id),
             title=template.title %}
  {% snippet "snippets/breadcrumb.html", url=url_for("templates.edit_template", id=template.id), title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>

  {% snippet "templates/snippets/back_to_template.html", template=template, tab="overview" %}

  <submission-form>
    {{ render_csrf() }}

    {% snippet "snippets/resources/submit_edit.html",
               resource=template,
               form=form,
               delete_text=_("Delete template"),
               small=True %}

    {% include "templates/snippets/base_template_form.html" %}

    {% snippet "templates/snippets/base_template_data_form.html", template_type=template.type, form=form %}
    {% snippet "snippets/resources/submit_edit.html", resource=template, form=form, delete_text=_("Delete template") %}
  </submission-form>
  <submission-form ref="delete" action="{{ url_for('templates.delete_template', id=template.id) }}">
    {{ render_csrf() }}
  </submission-form>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          title: '',
          titleField: kadi.context.title_field,
        };
      },
      mounted() {
        this.title = this.titleField.data;
      },
      methods: {
        async deleteResource() {
          const msg = $t('Are you sure you want to move this template to the trash?');
          const input = await this.$refs.dialog.open(msg);

          if (input.status) {
            this.$refs.delete.submit();
          }
        },
      },
    });
  </script>
{% endblock %}
