{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "templates/manage_template_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("templates.view_template", id=template.id),
             title=template.title %}
{% endblock %}

{% block content %}
  <div class="card">
    <nav-tabs :tabs="['overview', 'permissions', 'revisions']">
      <template #overview-head>
        <strong>{% trans %}Overview{% endtrans %}</strong>
      </template>
      <template #overview-body>
        {% include "templates/snippets/view_overview.html" %}
      </template>
      <template #permissions-head>
        <i class="fa-solid fa-shield-halved"></i> {% trans %}Permissions{% endtrans %}
      </template>
      <template #permissions-body>
        {% include "templates/snippets/view_permissions.html" %}
      </template>
      <template #revisions-head>
        <i class="fa-solid fa-clock-rotate-left"></i> {% trans %}Revisions{% endtrans %}
      </template>
      <template #revisions-body>
        {% include "templates/snippets/view_revisions.html" %}
      </template>
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      mounted() {
        const template = kadi.context.template;
        kadi.base.visitItem('template', template.title, template.identifier, `/templates/${template.id}`);
      },
    });
  </script>
{% endblock %}
