{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<div class="card my-4">
  <div class="card-header py-2">
    <strong>{% trans %}Metadata{% endtrans %}</strong>
  </div>
  <div class="card-body">
    <text-field :field="titleField" @input="title = $event"></text-field>
    <identifier-field check-identifier-endpoint="{{ url_for('api.check_identifier', resource_type='collection') }}"
                      :field="{{ form.identifier }}"
                      :input="title"
                      {% if collection %}:exclude="{{ collection.id }}"{% endif %}>
    </identifier-field>
    <markdown-field :field="{{ form.description }}"
                    link-endpoint="{{ url_for('api.select_files') }}"
                    image-endpoint="{{ url_for('api.select_files', mimetype=const.IMAGE_MIMETYPES) }}">
    </markdown-field>
    <dynamic-select-field endpoint="{{ url_for('api.select_tags') }}"
                          placeholder="{% trans %}Enter or search for tags{% endtrans %}"
                          :field="{{ form.tags }}"
                          :max-input-length="{{ form.tags.max_len }}"
                          :multiple="true"
                          :tags="true">
    </dynamic-select-field>
    <select-field class="mb-0" :field="{{ form.visibility }}"></select-field>
  </div>
</div>
