{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form>
  {{ render_csrf() }}

  <roles-field users-endpoint="{{ url_for('api.select_users', resource_type='collection', resource_id=collection.id) }}"
               groups-endpoint="{{ url_for('api.select_groups', resource_type='collection',
                                           resource_id=collection.id) }}"
               :field="{{ collection_form.roles }}">
  </roles-field>
  <div class="d-flex justify-content-between">
    <submit-field :field="{{ collection_form.submit }}"></submit-field>
    <roles-popover :roles="{{ get_object_roles('collection') | tojson_escaped }}"></roles-popover>
  </div>
</submission-form>
<hr>
<resource-roles-editor title="{% trans %}User roles{% endtrans %}"
                       placeholder="{% trans %}No users.{% endtrans %}"
                       endpoint="{{ url_for('api.get_collection_user_roles', id=collection.id,
                                            exclude=[collection.user_id]) }}"
                       :roles="{{ get_object_roles('collection') | tojson_escaped }}">
</resource-roles-editor>
<hr>
<resource-roles-editor title="{% trans %}Group roles{% endtrans %}"
                       placeholder="{% trans %}No groups.{% endtrans %}"
                       endpoint="{{ url_for('api.get_collection_group_roles', id=collection.id) }}"
                       :roles="{{ get_object_roles('collection') | tojson_escaped }}">
</resource-roles-editor>
