{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% set can_manage_permissions = has_permission(current_user, "permissions", "collection", collection.id) %}

<div class="d-flex justify-content-between">
  <a href="{{ url_for('collections.manage_permissions', id=collection.id) }}"
     class="btn btn-sm btn-primary my-1{% if not can_manage_permissions %} disabled{% endif %}">
    <i class="fa-solid fa-shield-halved"></i> {% trans %}Manage permissions{% endtrans %}
  </a>
  <roles-popover class="my-1"
                 :small-layout="true"
                 :roles="{{ get_object_roles('collection') | tojson_escaped }}">
  </roles-popover>
</div>
<hr>
<resource-roles-view title="{% trans %}User roles{% endtrans %}"
                     placeholder="{% trans %}No users.{% endtrans %}"
                     endpoint="{{ url_for('api.get_collection_user_roles', id=collection.id) }}"
                     :creator="{{ collection.user_id }}">
</resource-roles-view>
<hr>
<resource-roles-view title="{% trans %}Group roles{% endtrans %}"
                     placeholder="{% trans %}No groups.{% endtrans %}"
                     endpoint="{{ url_for('api.get_collection_group_roles', id=collection.id) }}">
</resource-roles-view>
