{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "sysadmin/base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html", url=url_for("sysadmin.manage_users"), title=title %}
{% endblock %}

{% block content %}
  <confirm-dialog ref="dialog"></confirm-dialog>
  <div class="card">
    {% include "sysadmin/snippets/menu.html" %}

    <nav-tabs :tabs="['manage', 'merge' {% if local_provider_registered %}, 'register'{% endif %}]">
      <template #manage-head>
        {% trans %}Manage users{% endtrans %}
      </template>
      <template #manage-body>
        {% include "sysadmin/snippets/users_manage.html" %}
      </template>
      <template #merge-head>
        {% trans %}Merge users{% endtrans %}
      </template>
      <template #merge-body>
        {% include "sysadmin/snippets/users_merge.html" %}
      </template>

      {% if local_provider_registered %}
        <template #register-head>
          {% trans %}Register local user{% endtrans %}
        </template>
        <template #register-body>
          {% include "sysadmin/snippets/users_register.html" %}
        </template>
      {% endif %}
    </nav-tabs>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      data() {
        return {
          active: false,
          primaryUserInfo: null,
          secondaryUserInfo: null,
        };
      },
      methods: {
        async changeRole(user) {
          this.$set(user, 'disabled', true);

          try {
            await axios.patch(user._actions.change_role, {name: user.system_role});
            kadi.base.flashSuccess($t('Role changed successfully.'), {scrollTo: false});
          } catch (error) {
            kadi.base.flashDanger($t('Error changing role.'), {request: error.request});
          } finally {
            user.disabled = false;
          }
        },
        async toggleUserProperty(user, sysadmin) {
          this.$set(user, 'disabled', true);

          try {
            const endpoint = sysadmin ? user._actions.toggle_sysadmin : user._actions.toggle_state;
            await axios.patch(endpoint);

            this.$refs.pagination.update();
            kadi.base.flashSuccess($t('User updated successfully.'), {scrollTo: false});
          } catch (error) {
            kadi.base.flashDanger($t('Error updating user.'), {request: error.request});
          } finally {
            user.disabled = false;
          }
        },
        async deleteUser(user) {
          // We need to work around Jinja's interpolation and ESLint.
          /* eslint-disable @stylistic/js/max-len *//* {% raw %} */
          const msg = $t(
            'Are you sure you want to delete the user "{{username}}" and their created resources? Please enter the username to confirm:',
            {username: user.identity.username},
          );
          /* eslint-enable @stylistic/js/max-len *//* {% endraw %} */

          const input = await this.$refs.dialog.open(msg, true);

          if (!input.status || input.prompt.trim() !== user.identity.username) {
            return;
          }

          this.$set(user, 'disabled', true);

          try {
            await axios.delete(user._actions.delete);

            this.$refs.pagination.update();
            kadi.base.flashSuccess($t('User deleted successfully.'), {scrollTo: false});
          } catch (error) {
            kadi.base.flashDanger($t('Error deleting user.'), {request: error.request});
            user.disabled = false;
          }
        },
        async mergeUsers(e) {
          e.preventDefault();

          const msg = $t('Are you sure you want to merge these users? Note that this operation cannot be undone.');
          const input = await this.$refs.dialog.open(msg);

          if (input.status) {
            HTMLFormElement.prototype.submit.call(e.target);
          }
        },
      },
    });
  </script>
{% endblock %}
