{# Copyright 2022 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("collections.view_collection", id=collection.id),
             title=collection.title %}
  {% snippet "snippets/breadcrumb.html",
             url=url_for("collections.publish_collection", id=collection.id, provider=provider.name),
             title=title %}
{% endblock %}

{% block content %}
  {% snippet "collections/snippets/back_to_collection.html", collection=collection, tab="overview" %}

  <div class="card">
    <div class="card-body">
      {% snippet "snippets/resources/publish.html", provider=provider, resource=collection, render_csrf=render_csrf %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script nonce="{{ csp_nonce() }}">
    kadi.base.newVue({
      methods: {
        async publishResource() {
          const input = await this.$refs.dialog.open($t('Are you sure you want to publish this collection?'));

          if (input.status) {
            this.$refs.publish.submit();
          }
        },
      },
    });
  </script>
{% endblock %}
