{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<submission-form enctype="{{ const.MIMETYPE_FORMDATA }}">
  {{ render_csrf() }}

  <markdown-field :field="{{ customization_form.broadcast_message }}" :rows="5"></markdown-field>
  <checkbox-field :field="{{ customization_form.broadcast_message_public }}"></checkbox-field>
  <nav-footer-field :field="{{ customization_form.nav_footer_items }}"></nav-footer-field>
  <file-field :field="{{ customization_form.index_image }}"
              :mimetypes="{{ const.IMAGE_MIMETYPES | tojson_escaped }}"
              :max-size="{{ const.IMAGE_MAX_SIZE }}"
              :disabled="removeImage">
  </file-field>

  {% if get_sys_config(const.SYS_CONFIG_INDEX_IMAGE, use_fallback=False) %}
    <checkbox-field :field="{{ customization_form.remove_image }}" @change="removeImage = $event">
    </checkbox-field>
  {% endif %}

  <markdown-field :field="{{ customization_form.index_text }}" :rows="5"></markdown-field>
  <submit-field :field="{{ customization_form.submit }}"></submit-field>
</submission-form>
