{# Copyright 2021 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

<workflow-editor tools-endpoint="{{ url_for('api.select_workflow_tools') }}"
                 :workflow-url="fileTypes.workflow.fileUrl"
                 :is-rendered="currentTab === 'workflow'"
                 :unsaved-changes="fileTypes.workflow.unsavedChanges"
                 @unsaved-changes="fileTypes.workflow.unsavedChanges = $event">
  <template #default="props">
    <div class="form-row mt-2">
      <div class="col-md-4 mb-md-0 mb-2">
        <button type="button"
                class="btn btn-sm btn-block btn-primary"
                :disabled="uploadDisabled('workflow')"
                @click="saveWorkflow(props.editor)">
          <i class="fa-solid fa-upload"></i> {% trans %}Upload as file{% endtrans %}
        </button>
      </div>
      <div class="col-md-8">
        <div class="input-group input-group-sm">
          <input v-model.trim="fileTypes.workflow.filename"
                 class="form-control"
                 placeholder="{% trans %}Filename{% endtrans %}">
          <div class="input-group-append">
            <span class="input-group-text">.flow</span>
          </div>
        </div>
      </div>
    </div>
  </template>
</workflow-editor>
